<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias alias="comm" type="cn.jbit.news.pojo.Comment"/>
		<typeAlias alias="user" type="cn.jbit.news.pojo.News_user"/>
		<typeAlias alias="news" type="cn.jbit.news.pojo.News"/>
		<typeAlias alias="topic" type="cn.jbit.news.pojo.Topic"/>
		<typeAlias alias="pag" type="cn.jbit.news.pojo.Paging"/>
	 </typeAliases>
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC"/>
			<dataSource type="POOLED">
			<property name="driver" value="${driver}"/>
			<property name="url" value="${url}"/>
			<property name="username" value="${username}"/>
			<property name="password" value="${password}"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="cn/jbit/news/newsuserdao/newsuserdaoMapper.xml"/>
		<mapper resource="cn/jbit/news/newsuserdao/NewsDaoMapper.xml"/>
		<mapper resource="cn/jbit/news/newsuserdao/NewsRegDaoMapper.xml"/>
		<mapper resource="cn/jbit/news/newsuserdao/topicdaoMapper.xml"/>
	</mappers>
</configuration>