<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="">
	<sql id="sql">
		select id,userName,password,email,userType from news_user
	</sql>
	<select id="query_pag" resultType="user" parameterType="pag">
	
	</select>
</mapper>